form {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

footer {
    padding: 2em;
    position: absolute;
    right: 0;
    bottom: 0;
}