/*Load Fonts*/
@font-face {
    font-family: "Univers";
    src: url("../fonts/UniversBlack.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Global Styles*/
button {
    border: solid thin lightgrey;
    border-radius: 2em;
}

h1,h2,h3,p,a,button,legend,label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* User forms*/
.user-form {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
}

.user-form input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
/*Page navigation*/
.navbar {
    display: inline-flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    margin: 0 1em;
    padding: 2em;
    height: 5em;

}
.navbar a{
    text-decoration: none;
    color:black;

}
/*single column layout for login/register/profile*/
.singleColumn {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    height: auto;

}
.singleColumn .body {
    margin:5%;
    display: block;
}
/*two column layout for landing page & blog posts*/
.column {
    display: flex;
    flex-direction: row;
}
.column .card {
    width: 60%;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    height: 500px;
}

.column #left {
    width: 100%;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

}
.column #left h2{
    margin:5%
}
.column #right {
    flex: 0 0 0;
    width: 25%;
    margin: 1em;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.column #right #comments{
    width:20em;
    height: 20em;
}

/*Header elements at the top of page*/

.headbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*TODO: Generalize spacing around flex elememts, force attempt to adding spacing on <a> links in login/register*/
.headbox a {
    margin: 0.5em;
}

.headbox a:hover{
    color: blue;
}

#search {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.logo {
    width: 25%;
    height: auto;
}

#sideOptions {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#topOptions {
    display: flex;
    align-items: center;
    flex-direction: row;
}
#createPost {
    height: 5em;
}

#createPost button {
    align-self: center;
    height: 50%;
    width: 100%;
}
#createPost button:hover {
    background-color: lightblue;
}

/*Filter groups*/
.filterGroup {
}

.filterGroup button:hover {
    border: solid thin lightgrey;
    background-color: lightgrey;
    border-radius: 2em;
}
/*Blog Post Container*/
.articleContainer{
    border-top: solid thin lightgrey;
    overflow: scroll;
    height: 40em;
    white-space: nowrap;
}


/*TODO: Update spacing & styling */
/*Blog Post*/
.entry{
    position: relative;
    overflow: hidden;
    padding: 1em;
    margin: 1em 0.5em 1em 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
    height: 14em;
    border-radius: 25px;
}



.blog-title p {
    vertical-align: middle;
    padding: 0em 1em 0em 1em;
}

.blog-title h3 {
    font-size: 25px;
}
.blog-preview{
    padding: 0.5em;
    float: left;
    overflow: hidden;
}

.blog-author{
    display: flex;
    align-items: center;
    position: absolute ;
    overflow: scroll;
    bottom: 0;
    width: 100%;
}

.blog-catagories {
    display: flex;
    align-items: center;
    position: absolute;
    overflow: scroll;
    bottom: 0;
    right: 0;
    width: 50%;
}

.cat-item {
    padding: 1.0em;
}
.entry figure {
    float: right;
    position: relative;
    height: 13em;
    width: 13em;
}

.entry img {
    border-radius: 15px;
}

.entry a, a:visited{
    color: black;
    text-decoration: none;
}


.blog-preview {
    float: left;
}