/*Load Fonts*/
@font-face {
    font-family: "Univers";
    src: url("../fonts/UniversBlack.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Global Styles*/
button {
    border: solid thin lightgrey;
    border-radius: 2em;
}

h1,h2,h3,p,a,button,legend,label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Page navigation*/
.navbar {
    display: inline-flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    margin: 0 1em;
    padding: 2em;
}
.navbar a{
    text-decoration: none;
    color:black;

}
/*single column layout for login/register/profile*/
.singleColumn {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    height: 300px;
}
.singleColumn .body {
    margin:5%;
    display: block;
}
/*two column layout for landing page & blog posts*/
.column {
    display: flex;
    flex-direction: row;

}
.column .card {
    width: 60%;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    height: 500px;
}

.column #left {
    width: 100%;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.column #left h2{
    margin:5%
}
.column #right {
    width: 25%;
    margin: 1em;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

/*Header elements at the top of page*/

.headbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*TODO: Generalize spacing around flex elememts, force attempt to adding spacing on <a> links in login/register*/
.headbox a {
    margin: 0.5em;
}

.headbox a:hover{
    color: blue;
}

.logo {
    width: 25%;
    height: auto;
}

/*Filter groups*/
.filterGroup {
}

.filterGroup button:hover {
    border: solid thin lightgrey;
    background-color: lightgrey;
    border-radius: 2em;
}
/*Blog Post Container*/
.articleContainer{
    border-top: solid thin lightgrey;
    overflow: scroll;
    height: 40em;
}

/*TODO: Update spacing & styling */
/*Blog Post*/
.entry{
    padding: 1em;
    margin: 1em 0.5em 1em 0.5em;
    border: black thin solid;
    height: 14em;
}
.blog-preview{
    padding: 0.5em;
    float: left;
    overflow: hidden;

}

.entry figure {
    border: black thin solid;
    float: right;
    position: relative;
    height: 13em;
    width: 13em;
}


.blog-preview {
    float: left;
}