#blog-contents {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;

    white-space: pre-wrap;
}

#blog-contents {
    padding: 5em;
    overflow: scroll;
}

#blog-contents p {
    word-wrap: break-all;
}


#like {
    float: right;
    margin-left: auto;
}
#blog-header {
    display: flex;
    align-items: center;
}

#blog-stuff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-figure img {
    flex: 0 0 auto;
    max-width: 100%;
    height: 20em;
    text-align: center;
}